cssselect==1.1.0
freeze==3.0
lxml==4.6.1
Markdown==3.3.3
numpy==1.19.4
pandas==1.1.4
patsy==0.5.1
Pygments==2.7.2
pyquery==1.4.1
python-dateutil==2.8.1
pytz==2020.4
scipy==1.5.4
six==1.15.0
statsmodels==0.12.1
